<section class="section">
  <div class="container">
    <h1 class="title">
      Features
    </h1>
    <hr>
      <div class="columns">
      <div class="column">
        <div class="column-feature">
          <div class="feature">
            <h2 class="feature-subtitle">
              <u>Live Searches</u>
              <i class="fa fa-search is-pulled-right" aria-hidden="true"></i>
            </h2>
            <p>
              Live searches are performed with Algolia, which is a third party system that allows your searches to be form more advanced by checking for spelling errors and allowing your products team to decided which products should display first.
            </p>
          </div><!-- /.feature -->
        </div><!-- /.feature-subtitle -->
      </div><!-- /.column -->
      <div class="column">
        <div class="feature">
          <h2 class="feature-subtitle">
            <u>Accepts Payments</u>
            <i class="fa fa-credit-card is-pulled-right" aria-hidden="true"></i>
          </h2>
          <p>
            Lara-Commerce accepts payments securely using Stripe.  Stripe is a third party system that will process your users credit card information and handle all of the compliance issues.  Your system will never see your customers credit card information.
          </p>
        </div><!-- /.feature -->
      </div><!-- /.feature-subtitle -->
    </div><!-- /.columns -->
    <div class="columns">
      <div class="column">
        <div class="column-feature">
          <div class="feature">
            <h2 class="feature-subtitle">
              <u>Tested</u>
              <i class="fa fa-check-square-o is-pulled-right" aria-hidden="true"></i>
            </h2>
            <p>
              This application has been tested with Phpunit and Laravel Dusk.  Running these tests will help you determine if your system has been installed correctly or if any changes have created some code rot.
            </p>
          </div><!-- /.feature -->
        </div><!-- /.feature-subtitle -->
      </div><!-- /.column -->
      <div class="column">
        <div class="feature">
          <h2 class="feature-subtitle">
            <u>Process Orders</u>
            <i class="fa fa-shopping-basket is-pulled-right" aria-hidden="true"></i>
          </h2>
          <p>
            The system will assist your customers in completing their orders including
          </p>
          <ul class="feature-list">
            <li>
              <i class="fa fa-check" aria-hidden="true"></i>
              Editing the users cart
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i>
              Selecting a shipping address
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i>
              Accepting payments
            </li>
          </ul>
        </div><!-- /.feature -->
      </div><!-- /.feature-subtitle -->
    </div><!-- /.columns -->
  </div><!-- /.container -->
</section>
